__pycache__
.vscode
build
andiloslife_save.json
andiloslife.txt
chromedriver.exe
gutelaunetyp_save.json
gutelaunetyp.txt
NECTrack.bat
Redemptracker.py
tehblab_save.json
tehblab.txt
setup.py
Tracking.code-workspace